<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Project</h2>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="projectKey" class="col-form-label">Project Key</label>
                        <input type="text" class="form-control" id="projectKey" placeholder="Project Key">
                        <span class="text-danger" id="projectKeySpan"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="projectName" class="col-form-label">Project Name</label>
                        <input type="text" class="form-control" id="projectName" placeholder="Project Name">
                        <span class="text-danger" id="projectNameSpan"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input class="btn btn-primary" value="Add Project" id="createProject">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {

        $( "#createProject" ).click(function() {
            let projectKeyVal = $("#projectKey").val();
            let projectNameVal = $("#projectName").val();
            if (projectKeyVal === "") {
                document.getElementById("projectKeySpan").innerHTML = "project Key can not be empty";
            }
            else if (projectNameVal === "") {
                document.getElementById("projectNameSpan").innerHTML = "project Name can not be empty";
            }
            else {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/projectRest/createProject",
                    dataType: 'json',
                    data: JSON.stringify({
                        projectKey: projectKeyVal,
                        projectName: projectNameVal
                    }),
                    success: function (data) {
                        console.log("datas: ", data);
                        if (data === "success")
                            console.log("success")
                        else {
                            console.log("data: ", data);
                        }
                    },
                    error: function (e) {
                        console.log("eee: ", e)
                        if (e.responseText === "success") {
                            window.location.replace("http://localhost:8080");
                        }

                    }
                });
            }
        });

        $( "#back" ).click(function() {
            window.location.replace("http://localhost:8080");
        });



    });
</script>
</body>
</html>